**/*.stl
**/slurm*
0.*/
1*/
2*/
3*/
4*/
5*/
6*/
7*/
8*/
9*/
VTK/
polyMesh/
processor*/
**/*.jpg
**/*.pdf
postProcessing/
**/*.vtk
**/*postProcessing
**/*.pvsm
**/*.png
**/log.*
**/*.DS_Store
**/*.afdesign
**/*logs
server-log.txt
